#/etc/systemd/system/rvm-client2.service
[Unit]
Description=Reverse Vending machine Actuator
After=network.target rvm-server.service
Requires=rvm-server.service
[Service]
ExecStart=/home/silver/barcode-scanner/myenv/bin/python /home/silver/barcode-scanner/client2.py
WorkingDirectory=/home/silver/barcode-scanner
StandardOutput=inherit
StandardError=inherit
Restart=always
User=silver

[Install]
WantedBy=multi-user.target
